<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/index.css">
<%- include('./partials/nav') %>

<main>
  <h1>Hello, <%= user ? user.profile.name : "chef!" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>

  <img id="logo" src="/assets/images/logo-images/logo.png" alt="Title Image">
</main>

<%- include('./partials/footer') %>
