<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/index.css">
<%- include('../partials/nav') %>

<section>
  <h1 class="section-heading">Recipe List</h1>
  <div class="recipe-grid">
    <% recipes.forEach((recipe)=> { %>
      <a href="/recipes/<%= recipe._id %>">
        <div class="recipe-tile">
          <h2><%= recipe.name %></h2>
          <img 
            class="recipe-image"
            src="<%= recipe.imageUrl %>" 
            alt="<%= recipe.name %> Image"
          >
        <p>Total Time: <%= recipe.totalTime %></p>
        </div>
      </a>
    <% }) %>
  </div>
</section>

<%- include('../partials/footer') %>


