<%- include('./partials/html-head') %>
  <%- include('./partials/nav') %>

    <main>
      <div class="welcome-section">
        <h1>Hello, <%= user ? user.profile.name : "Chef!" %>
        </h1>
        <% if (user?.profile.avatar) { %>
          <div class="avatar-container">
            <img src="<%= user.profile.avatar %>" alt="<%= user.profile.name %> avatar" />
          </div>
          <% } %>
      </div>

      <div class="logo-section">
        <img id="logo" src="/assets/images/logo-images/logo.png" alt="Title Image">
      </div>
    </main>

    <%- include('./partials/footer') %>

